body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 80vh;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

h2 {
  margin-bottom: 2rem;
}

.content {
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.card {
  min-height: 40vh;
}

.card-img {
  max-height: 20vh;
  object-fit: cover;
}
